<%= content_tag :div,
id: "data",
characters_data: @characters_data,
characters_path_data: @characters_path_data do %>
<% end %>

<h1>Enjoy the party</h1>

  <div class="container">
  </div>
  <%= javascript_pack_tag "react_application" %>
